<body>
  <header>
    <div class="center">
      <img src="https://www.freepnglogos.com/uploads/nba-logo-png/nba-debate-club-milken-hottest-new-club-the-roar-25.png" alt="Logo NBA" width="30%">
    </div>
  </header>
  <div class="view-container">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div class="category">
        <a routerLink="">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image imgs" src="https://e00-marca.uecdn.es/assets/multimedia/imagenes/2020/05/02/15884021804199.jpg">
              <span class="category-title red display-block">Teams</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="/players-list">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image imgs" src="https://phantom-marca.unidadeditorial.es/be98f1e296b821da40095566ac2aece7/resize/1320/f/jpg/assets/multimedia/imagenes/2021/11/27/16380165558995.jpg">
              <span class="category-title red display-block">Players</span>
            </div>
          </div>
        </a>
      </div>
      <div class="category">
        <a routerLink="">
          <div class="card">
            <div class="card__img card__img--top">
              <img class="category-image imgs" src="https://library.sportingnews.com/styles/twitter_card_120x120/s3/2022-04/nba-play-in-tournament-bracket-2022.png?itok=j-JnOfxb">
              <span class="category-title red display-block">Playoffs</span>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</body>
