* {
  box-sizing: border-box;
  text-decoration: none;
  color: #FFF;
  list-style-type: none;
}

body {
  background-image: url('https://fondosmil.com/fondo/1738.jpg');
}

.center{
  text-align: center;
}

.view-container {
  min-height: calc(100vh - 400px);
  display: block;
}

.category {
  margin-top: 2em;
  margin-right: 0%;
  width: 28%;
}

.category:nth-child(3n + 1) {
  clear: left;
}

.card {
  border-radius: 2px;
  background-color: #FFF;
  overflow: hidden;
  box-shadow: 0 3px 1px -2px rgb(0 0 0 / 14%), 0 2px 2px 0 rgb(0 0 0 / 10%), 0 1px 5px 0 rgb(0 0 0 / 8%);
}

.card:hover {
  transition: 0.5s ease;
  scale: 1.1;
}

.card__img--top {
  position: relative;
}

.category-image {
  width: 100%;
}

.imgs {
  display: block;
  max-width: 100%;
  font-style: italic;
}

.card__img--top span {
  position: absolute;
  right: 16px;
  bottom: 16px;
  left: 16px;
  text-align: center;
}

.category-title {
  margin-left: -16px;
  margin-right: -16px;
  padding-left: 1em;
  background-color: rgba(0,0,0,.4);
  font-size: 1.2em;
}

.red {
  color: gold!important;
}

footer {
  background: rgb(30, 28, 28);
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  padding: 30px;
  align-items: center;
  gap: 30px;
}

.main {
  width: 100%;
  gap: 50px;
}
.heading {
  margin-bottom: 15px;
}
.col1 {
  flex: 1;
  min-width: 200px;
}
.col2 {
  flex: 2;
  min-width: 300px;
}
.col3 {
  flex: 1;
  min-width: 200px;
}

.col1 a {
  display: inline-block;
  padding: 7px 0;
  font-size: 14px;
}
.col1 a:hover {
  color: #58bed5;
}

.col2 .languages {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 14px;
}
.col2 a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 3px;
}
.col2 a:hover {
  background: #58bed5;
}

.social {
  display: flex;
  gap: 20px;
}

.terms {
  display: flex;
  gap: 20px;
  font-size: 12px;
}
.terms a {
  color: #7783a0;
}
