<body>
  <header>
    <div class="center">
      <img
        src="https://www.freepnglogos.com/uploads/nba-logo-png/nba-debate-club-milken-hottest-new-club-the-roar-25.png"
        alt="Logo NBA" width="30%">
    </div>
  </header>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="aling-items padding" style="margin-bottom: 20px;">
    <div class="white" style="font-size: 24pt;">
      <a routerLink="/initial-page" class="color-decoration"><span>Home</span></a><span> / </span><a routerLink="/teams-list" class="color-decoration">Teams</a><span> / {{team.fullName}}</span>
    </div>
  </div>
  <div fxLayout="row" class="background-white details-container">
    <div class="img-container">
      <img [src]="showTeamImages(team)">
    </div>
    <div fxLayout="column" fxLayoutAlign="start start">
      <div class="padding">
        <strong style="font-size: 20pt;">{{team.fullName}}</strong>
        <br>
        <ul style="font-size: 12pt;">
          <li>City: {{team.city}}</li>
          <li>Division: {{team.divName}}</li>
          <li>Conference: {{team.confName}}</li>
          <li>Nickname: {{team.nickname}}</li>
          <li>Acronym: {{team.tricode}}</li>
          <li>Is a NBA team?: <mat-icon style="position: relative; top: 5px;">{{team.isNBAFranchise ? 'check' : 'close'}}</mat-icon></li>
          <li>Is an All-Star team?: <mat-icon style="position: relative; top: 5px;">{{team.isAllStar ? 'check' : 'close'}}</mat-icon></li>
        </ul>
      </div>
    </div>
  </div>
</body>
