body {
  background-color: black;
}

.background-white {
  background-color: white;
}

.center {
  text-align: center;
}

.color-decoration {
  color: #81D4FA;
  text-decoration: none;
}

.align-items {
  align-items: center;
}

.padding {
  padding: 20px;
}

.white {
  color: #FFF!important;
}

.details-container {
  width: 60%;
  margin: 0 auto;
}

.img-container {
  width: 40%;
  margin-right: 16px;
}
