<body>
  <header>
    <div class="center">
      <img
        src="https://www.freepnglogos.com/uploads/nba-logo-png/nba-debate-club-milken-hottest-new-club-the-roar-25.png"
        alt="Logo NBA" width="30%">
    </div>
  </header>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="aling-items padding">
    <div class="white" style="font-size: 24pt;">
      <a routerLink="/initial-page" style="text-decoration: none; color: #81D4FA"><span>Home</span></a><span> /
        Teams</span>
    </div>
    <div>
      <mat-form-field appearance="fill" class="background-white">
        <mat-label>Select year</mat-label>
        <mat-select [(ngModel)]="year">
          <mat-option *ngFor="let year of yearsData" [value]="year" (click)="getTeamsByYear(year)">{{year}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="space-around start" class="justify-content-center"
    style="background-color: black;">
    <app-one-team *ngFor="let team of teamList" [team]="team"></app-one-team>
  </div>
</body>
