

<body>
  <header>
    <div class="center">
      <img
        src="https://www.freepnglogos.com/uploads/nba-logo-png/nba-debate-club-milken-hottest-new-club-the-roar-25.png"
        alt="Logo NBA" width="30%">
    </div>
  </header>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="aling-items padding" style="margin-bottom: 20px;">
    <div class="white" style="font-size: 24pt;">
      <a routerLink="/initial-page" class="color-decoration"><span>Home</span></a><span> / </span><a routerLink="/players-list" class="color-decoration">Player</a><span> / {{player.firstName}} {{player.lastName}}</span>
    </div>
  </div>
    <div class="background-white" >
        <div class="titulo padding">
                <h1 style="font-size: 50pt; padding: 5px;">{{player.firstName}} {{player.lastName}}</h1>
        </div>
        <div fxLayout="row" fxLayoutAlign="center center" class="details-container">
            
            <div fxLayout="row" fxLayoutAlign="space-between center" class="img-container padding">
            <img [src]="showPlayerImages(player)" width="70%" alt="Jugador NBA">
            </div>
            <div fxLayout="column" fxLayoutAlign="start start">
            <div>
                <br>

                <table style="font-size: 25pt; align-items: flex-start;">
                    <tbody>
                        <tr>
                            <th>Country:</th>
                            <td></td>
                            <td>{{player.country}}</td>
                        </tr>

                        <tr>
                            <th>Position:</th>
                            <td></td>
                            <td>{{player.pos}}</td>
                        </tr>

                        <tr>
                            <th>Heigh:</th>
                            <td></td>
                            <td>{{player.heightMeters}}</td>
                        </tr>

                        <tr>
                            <th>Team:</th>
                            <td></td>
                            <td>{{teamOfPlayer.fullName}}</td>
                        </tr>

                        <tr>
                            <th>Birth:</th>
                            <td></td>
                            <td>{{player.dateOfBirthUTC}}</td>
                        </tr>
                </table>
            </div>
            </div> 
        <div class="dorsal">
            <h3 style="font-size: 50pt; font-style: italic; text-align: center;">DORSAL</h3>
            <h1 style="font-size: 100pt; padding: 50px; text-align: center;">{{player.jersey}}</h1>
        </div>   
        </div>
           
    </div>
</body>


