@font-face {
  font-family: 'basket';
  src: url('../../../fonts/Basketball.otf');
}

body {
  background-color: black;
  font-family: 'basket', sans-serif;
}

.background-white {
  background-color: white;
}

.center {
  text-align: center;
}

.color-decoration {
  color: #81D4FA;
  text-decoration: none;
}

.align-items {
  align-items: flex-start;
}

.padding {
  padding: 20px;
}

.white {
  color: #FFF!important;
}

.details-container {
  width: 90%;
  height: 80%;
  margin: 0 auto;
}

.img-container {
  width: 40%;
}

.titulo{
  text-align: center;
}

.dorsal{
  padding-left: 20%;
  align-items: flex-end;
}

tr{
  text-align: left;
}

th, td {
  padding: 15px;
}

h1, h2, h3{
  font-family: 'basket', sans-serif;
}
